.Pages {
    display: flex;
    justify-content: end;
    text-align: center;
    margin: 22px 21px 0 0;
}
.Pages span {
    width: 20px;
    height: 20px;
    padding: 2px;
    color: rgba(204, 204, 204, 1);
}

.Btn-pagination {
    min-width: 25px;
    height: 20px;
    padding: 2px 2px 3px 2px;
    border: none;
    font: inherit;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer
}

.Btn-pagination.active {
    color: white;
    background-color: rgba(0, 135, 233, 1);
}
.Btn-pagination:hover {
    background-color: rgba(225, 225, 225, 1);
}
.Btn-pagination.active:hover {
    background-color: rgba(0, 135, 233, 1);
}
