.Item {
  display: flex;
  justify-content: flex-start;
}

.Item-code {
  padding: 20px 10px 20px 20px;
  font-size: 16px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
  font-size: 16px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}

.Item-price {
  width: 100%;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
  text-align: end;
  font-size: 18px;
}
.Item-count {
  width: 20%;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
  text-align: end;
  font-size: 18px;
}