.Total {
    display: flex;
    justify-content: flex-end;
    gap: 55px;
    padding: 20px 115px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 70px;
  
}
.Total-empty {
    padding: 20px 20px;
    font-size: 18px;
    font-weight: 700;
}
